.home-page-main-div{
    height: 100vh;
    width:100% ;
    overflow: hidden;
    background-image: url('../../assets/wallpaper.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
}
  

#dark .home-page-main-div {
    background-color: var(--theme-dark);
    
    
}

#light .home-page-main-div {
    background-color: var(--theme-light);
    
}

.home-page-wrapper-div{
    height: 100%;
    width: 100%;
    opacity: 70%;
    position: absolute;
} 

#dark .home-page-wrapper-div {
    background-color: var(--theme-dark);
    opacity: 80%;
    
}

#light .home-page-wrapper-div {
    background-color: var(--theme-light);
    opacity: 70%;
    
}
