
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
    color: #fff;
    margin: 0;
    height: 400px;
    overflow: auto;
    margin-top: 10px;
}

.posters{
    
    padding: 5px;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
    
}
.posters::-webkit-scrollbar{
    display: none;
    
}
.poster{
    display: flex;
    flex-direction:column;
    max-height: 220px; 
    max-width: 160px;
    margin-right: 10px;
    cursor: pointer;
}
.poster:hover{
    transform: scale(1.3);
}